build:
  type: text
  content: |-
    #!/bin/sh
    cd $ROOST_WORK_DIR/git/Garvit-Jethwani/voter
    export IMAGE_TAG=$ROOST_NAMESPACE
    export PATH=$PATH:/usr/bin:/usr/local/bin
    make build-voter
deploy:
  type: text
  content: >+
    #/bin/sh

    <<'###'

    Sample Deploy Instructions


    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"


    helm install <helm-folder> -n <ns> $HELM_OPTS


    kubectl apply -f <file>.yaml

    ###

test: []
Last Updated By: Garvit Jethwani
Last Updated On: 2022-07-16T06:45:13.687Z
