build:
  type: text
  content: |-
    #!/bin/sh
    cd $ROOST_WORK_DIR/git/Garvit-Jethwani/voter
    export IMAGE_TAG=$ROOST_NAMESPACE
    export PATH=$PATH:/usr/bin:/usr/local/bin
    make build-voter
deploy:
  type: text
  content: "#/bin/sh"
test:
  - name: voter
    configType: cypress
    configPath: Garvit-Jethwani/voter/
Last Updated By: Garvit Jethwani
Last Updated On: 2022-07-16T06:46:26.074Z
