build:
  type: text
  content: |-
    #!/bin/sh





    222222222
deploy:
  type: path
  content: ''
test:
  - name: service-test-suite
    configType: cypress
    configPath: service-test-suite/voter
uninstall:
  type: text
  content: |+
    #!/bin/sh

lastUpdatedBy: Priyanshi Somani
lastUpdatedOn: 2022-09-22T07:00:10.570Z
