build:
  type: text
  content: |-
    #!/bin/sh

    docker build -f voter/Dockerfile -t voter:$GIT_COMMIT_ID voter 
    docker tag voter:$GIT_COMMIT_ID  voter:$ROOST_NAMESPACE  
deploy:
  type: text
  content: |-
    #/bin/sh

    BALLOT_ENDPOINT="http://newdemo-on-demand-divyesh-230.ballot.52.8.38.159.nip.io/"
    ECSERVER_ENDPOINT="http://newdemo-on-demand-divyesh-230.ecserver.52.8.38.159.nip.io/"

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE},ballot_endpoint=${BALLOT_ENDPOINT},ecserver_endpoint=${ECSERVER_ENDPOINT}"

    helm upgrade testnow-helm-vote helm-vote -n $ROOST_NAMESPACE --create-namespace --install $HELM_OPTS


    helm template helm-vote --output-dir gen3 --generate-name --set clusterIP=${ROOST_CLUSTER_IP} --set tag=${ROOST_NAMESPACE} --set namespace=${ROOST_NAMESPACE} --set ballot_endpoint=${BALLOT_ENDPOINT} --set ecserver_endpoint=${ECSERVER_ENDPOINT} 
test:
  - name: voter
    configType: cypress
    configPath: service-test-suite/voter
uninstall:
  type: text
  content: |+
    #!/bin/sh

dockerCompose: ''
lastUpdatedBy: Divyesh Maheshwari
lastUpdatedOn: 2023-03-03T06:38:29.314Z
