build:
  type: text
  content: |-
    #!/bin/sh
     # make alljjj
    # docker buildjjjjjjfkmsldamnmc,xzhjdfksam
deploy:
  type: text
  content: |+
    #/bin/sh
    <<'###'
    Sample Deploy Instructions

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"

    helm install <helm-folder> -n <ns> $HELM_OPTS

    kubectl apply -f <file>.yaml
    ###

test: []
uninstall:
  type: text
  content: |+
    #!/bin/sh

app_dependencies:
  type: text
  content: bj
app_deploy:
  type: text
  content: |

    HELM_OPTS=""
    helm upgrade ps-1-helm-vote helm-vote -n $ROOST_NAMESPACE --create-namespace --install $HELM_OPTS
app_test: []
app_uninstall:
  type: text
  content: 'bn '
TF_Content: ' bqjsna'
TF_Git_path: ''
TF_Uninstall: anzmbn
CDK_Content: |-
  #!/bin/sh
  hjn m,
  cdk deploy
CDK_Git_path: ''
CDK_Uninstall: |-
  #!/bin/sh

  cdk destroy
lastUpdatedBy: Priyanshi Somani
lastUpdatedOn: 2022-10-10T12:37:40.419Z
