build:
  type: text
  content: |-
    #!/bin/sh
     # make alljjj
    # docker buildjjjjjjfkmsldamnmc,xz
deploy:
  type: text
  content: |+
    #/bin/sh
    <<'###'
    Sample Deploy Instructions

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"

    helm install <helm-folder> -n <ns> $HELM_OPTS

    kubectl apply -f <file>.yaml
    ###

test: []
uninstall:
  type: text
  content: |+
    #!/bin/sh

app_dependencies:
  type: text
  content: |-

    docker build -f service-test-suite/Dockerfile -t service-test-suite:$GIT_COMMIT_ID service-test-suite 
    docker tag service-test-suite:$GIT_COMMIT_ID  service-test-suite:$ROOST_NAMESPACE  
    cd ./ && make
    docker build -f service-test-suite/Dockerfile -t service-test-suite:$GIT_COMMIT_ID service-test-suite 
    docker tag service-test-suite:$GIT_COMMIT_ID  service-test-suite:$ROOST_NAMESPACE  
app_deploy:
  type: text
  content: |

    HELM_OPTS=""
    helm upgrade ps-1-helm-vote helm-vote -n $ROOST_NAMESPACE --create-namespace --install $HELM_OPTS
app_test: []
app_uninstall:
  type: text
  content: 'bn '
lastUpdatedBy: Priyanshi Somani
lastUpdatedOn: 2022-10-10T12:19:52.715Z
